.CSUICM_Panel
{
    font: 12px/150% Arial,Verdana, "\5b8b\4f53";
    display: none;
    position: fixed;
    border: 1px solid #E6E6E6;
    background-color: #E6E6E6;
    min-width: 100px;
    -moz-border-radius: 6px; 
    -webkit-border-radius: 6px; 
    border-radius: 6px; 
    z-index:999999999999999999999;
}
.CSUICM_Panel li
{
    text-decoration: none;
    list-style-type: none;
    cursor: pointer;
    padding: 3px;
    padding-left: 12px;
    padding-right: 12px; 
}
.CSUICM_Panel li:hover
{
    color: white;
    background-color: #007FBF;
}
.CSUICM_Panel_a
{
    color: Black;
    text-decoration: none;
    cursor: pointer;
}
.CSUICM_Panel_a_hover
{
    color: white;
}/*res CSUI*/
